:root {
    --primary: #f5a091;
}
.main-container{
    position: fixed;
    z-index: 40;
    display: flex;
    width: 100%;
}
.blur-filter{
    width: 100%;
    position: absolute;
    inset: 0px;
    z-index: 30;
    background: rgba(17, 17, 17, 1);
}
.nav-container{
    color: #fff;
    background: rgba(17,17,17,0.35);
    filter: blur(5px);
    display: flex;
    justify-content: space-around;
    padding: 8px;
}
.nav-content{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    width: 100%;
    z-index: 40;    
    border-bottom: 1px solid #464646;
}
.bg-blur{
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

.fixed-menu{
    display: flex;
    gap: 10px;
}

.variable-menu{
    display: flex;
    gap: 12px;
}

.logo{
    font-size: 20px;
    margin-top: 2px;
    font-weight: 700;
    font-style: italic;
    padding-right: 6px;
}

.action-btn{
    background: none;
    border: none;
}

.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    background-color: #7808d0;
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.35rem 1.2rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
}
  
.button__icon-wrapper {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    color: #7808d0;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
  
.button:hover {
    background-color: #fff;
}

.button:hover .btn-font{
    color: #000;
}
  
.button:hover .button__icon-wrapper {
    color: #000;
}
  
.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}
  
.button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
}
  
.button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
}

.btn-font{
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #fff;
    text-decoration: none;
}

.classic-btn{
    border: none;
    background: none;
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.classic-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.13rem;
    bottom: 2px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .classic-btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

.c-btn-font{
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #fff !important;
    text-decoration: none;
}

