.mainContainer{
  /* background-color: purple; */
  /* position: relative; */
  color: #fff;
  height: 93vh;
}
.video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 93.2vh;
  background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
}
.title{
  font-size: 4rem;
  /* border: 1px solid; */
  width: 80%;
  font-weight: 700;
  text-transform: uppercase;
}
.subtitle{
  /* border: 1px solid; */
  width: 50%;
  font-size: 1.1rem;
  font-weight: 500;
  color: #e2e2e2;
}
/* Section Action Styles */
.section-action{
  color: #000;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url('../../public/assets/images/bg-paper.jpg');
  background-position: center;
  background-size: cover;
}
.message-container{
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.message {
  letter-spacing: -.8px;
  font-family: Graphik,sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}
.plane-btn-group{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-black{
  border: none;
  height: auto;
  border-radius: 18px;
  flex: none;
  padding: 24px 48px;
  font-size: 1.5em;
  color: #fff;
  background-color: #000;
}
.btn-white{
  border: 1px solid #051316;
  height: auto;
  border-radius: 18px;
  flex: none;
  padding: 24px 48px;
  font-size: 1.5em;
  color: #000;
  background-color: #fff;
}
/* Section Stats Styles */
.section-stats{
  color: #fff;
  /* border: 1px solid red; */
  height: 100vh;
  background: linear-gradient(145deg, rgba(51, 24, 107, 0.9) 0%, rgba(242,175,239,0.2) 100%), url(https://images.unsplash.com/photo-1496307653780-42ee777d4833?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.stats-container{
  /* border: 1px solid; */
  padding-top: 120px;
}
.stats-content{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.num{
  font-family: Graphik,sans-serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 100%;
}
.info{
  letter-spacing: 0;
  font-family: Graphik,sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
.separation{
  width: 100%;
  max-width: 60%;
  border-bottom: 1px solid rgba(255,255,255,.24);
  margin: 80px auto;
}