.mainContainer{
  /* background-color: purple; */
  /* position: relative; */
  color: #fff;
  height: 93vh;
}
.video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 93.2vh;
  background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
}
.title{
  font-size: 4rem;
  /* border: 1px solid; */
  width: 80%;
  font-weight: 700;
  text-transform: uppercase;
}
.subtitle{
  /* border: 1px solid; */
  width: 50%;
  font-size: 1.1rem;
  font-weight: 500;
  color: #e2e2e2;
}
.section-action{
  color: #000;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url('../../public/assets/images/bg-paper.jpg');
  background-position: center;
  background-size: cover;
}
.message-container{
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.message {
  letter-spacing: -.8px;
  font-family: Graphik,sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}
.plane-btn-group{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-black{
  border: none;
  height: auto;
  border-radius: 18px;
  flex: none;
  padding: 24px 48px;
  font-size: 1.5em;
  color: #fff;
  background-color: #000;
}
.btn-white{
  border: 1px solid #051316;
  height: auto;
  border-radius: 18px;
  flex: none;
  padding: 24px 48px;
  font-size: 1.5em;
  color: #000;
  background-color: #fff;
}