.mainContainer{
  /* background-color: purple; */
  /* position: relative; */
  color: #fff;
  height: 93vh;
}
.video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 93.2vh;
  background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
}
.title{
  font-size: 4rem;
  /* border: 1px solid; */
  width: 80%;
  font-weight: 700;
  text-transform: uppercase;
}
.subtitle{
  /* border: 1px solid; */
  width: 50%;
  font-size: 1.1rem;
  font-weight: 500;
  color: #e2e2e2;
}
/* Section Action Styles */
.section-action{
  color: #000;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url('../../public/assets/images/bg-paper.jpg');
  background-position: center;
  background-size: cover;
}
.message-container{
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.message {
  letter-spacing: -.8px;
  font-family: Graphik,sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}
.plane-btn-group{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-black{
  border: none;
  height: auto;
  border-radius: 18px;
  flex: none;
  padding: 24px 48px;
  font-size: 1.5em;
  color: #fff;
  background-color: #000;
}
.btn-white{
  border: 1px solid #051316;
  height: auto;
  border-radius: 18px;
  flex: none;
  padding: 24px 48px;
  font-size: 1.5em;
  color: #000;
  background-color: #fff;
}
/* Section Stats Styles */
.section-stats{
  color: #fff;
  /* border: 1px solid red; */
  height: 100vh;
  background: linear-gradient(145deg, rgba(51, 24, 107, 0.9) 0%, rgba(242,175,239,0.2) 100%), url(https://images.unsplash.com/photo-1496307653780-42ee777d4833?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.stats-container{
  /* border: 1px solid; */
  padding-top: 120px;
}
.stats-content{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.num{
  font-family: Graphik,sans-serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 100%;
}
.info{
  letter-spacing: 0;
  font-family: Graphik,sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
.separation{
  width: 100%;
  max-width: 60%;
  border-bottom: 1px solid rgba(255,255,255,.24);
  margin: 80px auto;
}

/* Section - Talent Info styles */
.section-talent-info{
  height: 100vh;
  width: 100%;
  color: #000;
  display: flex;
  gap: 30px;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 22px;
  padding-left: 21px;
  margin-top: 4%;
  padding-top: 4%;
  height: 85%;
  border-radius: 20px;
  /* https://smoothshadows.com/#djEsMSw1LDAuMTksNTgsMjIsMTEsIzAzMDcxMiwjZjNmNGY2LCNmZmZmZmYsMg%3D%3D */
  box-shadow: 0px 1px 2px rgba(3, 7, 18, 0.04),
  2px 4px 9px rgba(3, 7, 18, 0.08),
  4px 8px 21px rgba(3, 7, 18, 0.11),
  7px 14px 37px rgba(3, 7, 18, 0.15),
  11px 22px 58px rgba(3, 7, 18, 0.19);
  transition: all ease-in-out 0.2s;
}
.card:hover{
  transform: translateX(2px);
}
.adj-right{
  margin-right: 22px;
  background: linear-gradient(135deg, #101010 0%,#7122bc 100%);
  color: #fff !important;
}
.adj-right .stat{
  color: #fff !important;
}
.adj-right .icon {
  background-color: #fff !important;
}
.question {
  text-transform: none;
  font-family: Graphik,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.ex-head{
  letter-spacing: -.8px;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Graphik,sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}
.stats-info-container{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.stat-group{
  display: flex;
  align-items: center;
  gap: 22px;
}
.stat-group .icon {
  background-color: #610FA1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.stat-group .stat{
  color: #000;
  font-family: Graphik,sans-serif;
  font-size: 15px;
  line-height: 140%;
  align-self: flex-start;
  width: 80%;
}
.btn-action-group{
  /* margin-top: 30px; */
  margin-top: 6%;
  display: flex;
  gap: 16px;
}
.btn-action-group .btn-box {
  background: none;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 8px 24px 7px;
  font-family: Graphik,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .3s;
  display: inline-block;
}
.btn-action-group .btn-fill {
  background: #000;
  color: #fff;
  border-radius: 12px;
  padding: 8px 24px 7px;
  font-family: Graphik,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .3s;
  display: inline-block;
  border: none;
}
.white{
  color: #fff !important;
  border: 1px solid #fff !important;
}
.grad{
  background: linear-gradient(135deg, #101010 0%,#7122bc 100%) !important;
}

.btn-action-group .btn-fill:hover,
.btn-action-group .btn-box:hover{
  transform: scale(1.1);
}

/* Section - About Page - Styles */
.section-about{
  color: #fff;
  height: 100vh;
  background-color: #41064b;
}
.logo-section{
  font-size: 44px;
  font-weight: 700;
  font-style: italic;
}
.about-header{
  height: 18%;
  background-color: #1e152d;
}
.about-container{
  padding: 90px 20px 40px 40px;
  display: flex;
  justify-content: space-between;
}
.about-menu-container{
  display: flex;
  gap: 30px;
}
.menu-heading{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menu-heading span {
  font-family: Graphik,sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.values-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.data-item:hover {
  color: #ec2e3a;
  text-decoration: underline;
  cursor: pointer;
}

/* Media Queries */
/* @media screen and (max-width: 1060px) {
  .btn-action-group{
    margin-top: 10px;
  }
} */